{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}
    <div class="col-auto">
        <a href="{{ path('frontend.account.payment.page') }}" class="btn header-actions-btn">
            {% sw_icon 'money-card' %}
        </a>
    </div>

    {{ parent() }}
{% endblock %}