{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_image %}
    <div class="header-logo-main text-center">
        {{ parent() }}
        <h3>Cool Slogan!</h3>
    </div>
{% endblock %}