{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_inner %}
    <div class="header-logo-main text-center">
        <h1>New Custom Logo</h1>
    </div>
{% endblock %}